<p>Hello !</p>

<h1><%= @car.brand %></h1>
<h2><%= @car.model %></h2>
<h2><%= @car.price %>€</h2>
<%= image_tag @car.car_image, width: 400%>


<h2>Réservation</h2>
<%= simple_form_for [@car, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Réserver"%>
<% end %>
